{% extends 'base.html' %}
{% include 'components/header-nav.html' %}

{% block content %}
<section class="container-fluid main" id="dashboard">
    <div class="row">
        <div class="col-md-5 recipes">
            <a class="dashboard-item" href="#!">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h2">Recipes</div>
                        <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                    </div>
                </div>
                <img class="img-fluid" src="../static/images/brooke-lark-08bOYnH_r_E-unsplash.jpg" alt="">
            </a>
        </div>
        <div class="col-md-7 workouts">
            <div class="row">
                <a class="dashboard-item"" href=" #!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Workouts</div>
                            <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice
                                cream
                                cone!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="../static/images/jesper-aggergaard-oc7tGf44rM0-unsplash.jpg" alt="">
                </a>
                <a class="dashboard-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Zen</div>
                            <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="../static/images/patrick-fore-JBghIzjbuLs-unsplash.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<div class="main">
    {% for recipe in recipes %}
    <h2>{{recipe.category_name}}</h2>
    <h3>{{recipe.recipe_name}}</h3>
    Ingredients:
    <ul>
        {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    Instructions:
    <ol>
        {% for instruction in recipe.instructions %}
        <li>{{ instruction }}</li>
        {% endfor %}
    </ol>
    <img src="{{ recipe.image }}" width="300" height="300" alt="" class="responsive-img">
    {% endfor %}
</div>


{% endblock %}