{% extends 'layout/base.html' %}
{% block content %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid" id="recipe-view">
    <div class="recipe-view-content d-flex text-center">
        <div class="jumbo-content mx-auto text-center">
            <!-- Content -->
            <h2 class="jumbo-title">Muscle Farm</h2>
            <p class="jumbo-body">Let's start building your muscle!</p>
        </div>
    </div>
</div>
<!-- End Jumbotron -->

<!-- Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 contact m-auto contact">
            <h2 class="text-center mb-4">Muscle Farm
                <img src="/static/images/broccoli-icon.png" class="d-inline-block align-top text-white" alt="menu">
            </h2>

            <p>Our philosophy is to eat clean, whole foods and maintain good portion control. When you
                cook your own meals, you know you can feel good about what is going into your body.
                Let me help you navigate your way around the
                kitchen and teach you how to prepare delicious, light, fresh meals your whole family will love.
            </p>
            <p>Exercise + a well balanced diet + good sleep = a happy life.</p>
            <p>While we receive a lot of email here at <strong>Muscle Farm</strong>, We always appreciate hearing from
                awesome people like you!</p>
            <p>We will try to respond within 48 hours. We look forward to chatting with you.</p>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto pb-5 pt-5">
            <div class="card contact-form">
                <div class="contact-body p-4">
                    <h5 class="card-title text-center">I'd Love to Hear From You!</h5>
                    <form action="{{ url_for('contact') }}" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="your@email.com" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="textarea">Have a question?</label>
                            <textarea name="textarea" id="textarea" class="form-control"
                                placeholder="your message here..." autocomplete="off" rows="3"></textarea>
                        </div>
                        <button class="btn btngradient btn-block text-uppercase mt-2 mb-2" value="contact"
                            type="submit">SEND
                        </button>
                        {% for message in get_flashed_messages() %}
                        <p class="text-success mt-3">{{ message }}</p>
                        {% endfor %}

                        <a class="btn btn-recipe border-gradient-green border-gradient float-right mt-2"
                            href="{{ url_for('recipes', category='recipes') }}" role=" button" aria-expanded="false">
                            Close</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Form -->

{% endblock %}