{% extends 'layout/base.html' %}
{% block content %}

<div class="hero main">
    <div class="container d-flex h-100 align-items-center">
        <div class="hero-title mx-auto">

            <!-- Register Form -->
            <div class="register mx-auto">
                <div class="card register-form">
                    <div class="register-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form method="POST" action="{{ url_for('register') }}">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="your@email.com" value="{{ request.form.email }}" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input name="username" id="username" type="text" pattern=".{1,10}" class="form-control"
                                    placeholder="Enter username" value="{{ request.form.username }}" required>
                                <small class="form-text text-muted">Max 10 characters</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" pattern=".{1,10}"
                                    class="form-control" placeholder="maximum 8 characters"
                                    value="{{ request.form.password }}" required>

                            </div>
                            <div class="form-group">
                                <label for="repeatpassword">Repeat Password</label>
                                <input type="password" name="repeat_password" id="repeatpassword" pattern=".{1,10}"
                                    class="form-control" placeholder="maximum 8 characters"
                                    value="{{ request.form.repeat_password }}" required>

                            </div>
                            {% for message in get_flashed_messages() %}
                            <p class="text-danger">{{ message }}</p>
                            {% endfor %}
                            <button class="btn btngradient btn-block text-uppercase mb-2" value="register"
                                type="submit">Register</button>
                            <p>Already have an account?
                                <a class="text-primary" href="{{ url_for('login') }}">
                                    Log in</a>
                            </p>
                            <a class="btn btn-recipe border-gradient-green border-gradient float-right"
                                href="{{ url_for('index') }}" role="button" aria-expanded="false">
                                Close</a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Register Form -->

        </div>
    </div>
</div>

{% endblock %}