/* * {
    outline: 1px solid #E91E63 !important;

} */


h4 {
    text-align: center;
}

.content {
    background-color: #eee1c6;
}


/* Navbar */
#mainNav {

    background-color: rgba(0, 0, 0, 0.3);
    transition: top 0.3s;
}

.navbar a {
    color: #eee1c6;
}

.navbar img {
    width: 30px;
    height: 30px;
}

.navbar-light .navbar-brand .navbar-nav {
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .9);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, .9);
}

.navbar-toggler {
    color: #eee1c6;
}

@media(max-width: 768px) {
    .navbar>.container {
        max-width: 100%;
        padding: 0;
    }

    .navbar-collapse {
        background-color: #00471b;
        /*replace with desired color*/
    }
}


/*  Landing Hero */

.hero {
    position: relative;
    width: 100%;
    /*  height: 40vh; */
    height: 100%;
    min-height: 45rem;
    padding: 14rem 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), 
                                url("../images/chuttersnap-eHGCUD180xE-unsplash.jpg"); */
    background: url("../images/board.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
}

.hero-title {
    background-color: rgba(0, 141, 27, 0.1);
    color: rgba(0, 141, 27, 0.1);
    padding: 20px;
    border: 8px solid;
}

.hero-title h1 {
    font-size: 2.5rem;
    /* line-height: 2.5rem; */
    letter-spacing: 0.8rem;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 25%, rgba(238, 225, 200, 1) 48%); */
    background: rgb(15, 65, 60);
    background: linear-gradient(0deg, rgba(15, 65, 60, 1) 15%, rgba(54, 236, 217, 1) 100%);
    /* background: rgb(15, 65, 60);
    background: linear-gradient(0deg, rgba(15, 65, 60, 1) 24%, rgba(238, 225, 200, 1) 100%); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-top: 5px solid #eee1c6;
    border-bottom: 5px solid #eee1c6;
}

.hero-title h2 {
    max-width: 20rem;
    font-size: 1rem;
    color: #eee1c6;
}

.hero-title img {
    height: 150px;
    width: 150px;
}

.hero-title a {
    color: #fff;
    background-color: #0076C1;
    border-color: #004614;
}

/* @media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .hero {
        height: 100vh;
        padding: 0;
    }

    .hero h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }

    .hero h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
} */

/* main content */

.main {
    height: 90vh;
}

/* allRecipe */


#hero-recipe {
    width: 100%;
    height: 35vh;
    background-image: url(../images/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden
}

#menu {
    background-color: rgba(240, 235, 210, 0.5);
    /* color: rgba(0, 141, 27, 0.2);
    border: 4px solid; */
    padding: 10px;
    margin-bottom: 1rem;
    width: 70%;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-green {
    border-image-source: linear-gradient(to left, #00471b, #eee1c6);
}

#menu a {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

#menu a:hover {
    border-radius: 5px;
    /* background-color: #00471b; */
    background: rgb(0, 71, 27, 0.9);
    border: 2px solid #eee1c6;
    color: white;
}

.menu-links {
    margin: 15px;
    padding: 10px;
    font-size: 1rem;
    color: black;

}

.category-title {

    background-color: rgba(0, 141, 27, 0.1);
    color: rgba(0, 141, 27, 0.1);
    margin: 1rem;

}

#allrecipe h2 {
    text-align: left;
    margin: auto;
    padding: 10px 30px;
    /* border: 2px solid #00471b; */
    /* margin: 15px 0 15px 30px; */
    background: rgb(15, 65, 60);
    background: linear-gradient(0deg, rgba(15, 65, 60, 1) 15%, rgba(54, 236, 217, 1) 100%);
    /* background: linear-gradient(0deg, rgba(15, 65, 60, 1) 24%, rgba(238, 225, 200, 1) 100%); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;


    /* background-color: rgba(0, 141, 27, 0.1);
    color: rgba(0, 141, 27, 0.1);
    padding: 20px;
    border: 8px solid; */
}

.recipe-card-body {
    margin-top: 2.5rem;
    font-size: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4),
        0 10px 20px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}


.jumbo-sceen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(62, 69, 81, 0.7);
    color: #ffffff;
}


.btngradient {
    background: rgb(238, 225, 198);
    background: -moz-linear-gradient(56deg, rgba(238, 225, 198, 1) 27%, rgba(0, 71, 27, 1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(238, 225, 198, 1) 27%, rgba(0, 71, 27, 1) 100%);
    background: linear-gradient(56deg, rgba(238, 225, 198, 1) 27%, rgba(0, 71, 27, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee1c6", endColorstr="#00471b", GradientType=1);
    color: #000000;
}

.btngradient img {
    height: 20px;
    width: 20px;
}

.recipe a,
.recipe button {
    padding: 15px;
    width: 32%;
    font-size: 1em;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}

.card {
    /* height: 50vh; */
    border-radius: calc(1rem - 1px);

    margin: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
    border: 1px solid #00471b;


    -webkit-box-shadow: 0px 0px 13px 4px rgba(0, 71, 27, 0.65);
    -moz-box-shadow: 0px 0px 13px 4px rgba(0, 71, 27, 0.65);
    box-shadow: 0px 0px 13px 4px rgba(0, 71, 27, 0.65);
}

.card a {
    color: black;
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.card-body {
    margin: auto;
    font-size: 1rem;
    padding: 1rem;
    background-image: url(../images/black.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);
    color: #fff;
}

.card-footer {
    padding: .5rem 1rem;
    background-color: rgb(0, 141, 27, 0.1);
    color: #eee1c6;
}

.text-muted i {
    color: #eee1c6;
}


/* Dashboard */

.recipes {
    padding: 0;
    margin: 0;
}

.workouts {

    margin: 0;
}

.recipes img {
    height: 500px;
    width: 100%;
}

.workouts img {
    height: 250px;
    width: 100%;
}

.dashboard-item {
    display: block;
    position: relative;
    overflow: hidden;
}


.dashboard-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, .2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.dashboard-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
}

@media (min-width: 992px) {
    .dashboard-item img {
        transition: -webkit-clip-path .25s ease-out;
        transition: clip-path .25s ease-out;
        transition: clip-path .25s ease-out, -webkit-clip-path .25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
    }
}

/* add recipe */

/* tables */

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}


table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table th:last-child {
    width: 100px;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

table.table td a.add {
    color: #27C46B;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

/* Footer */

footer.footer {
    padding-top: 2rem;

    background-color: rgba(45, 46, 41, 1);
    /*  background-color: rgba(7, 7, 7, 1); */
    /* height: 10vh; */
}

footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 3.7rem;
    font-size: 2rem;
    background-color: #eee1c6;
    transition: background-color .15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    border: 3px solid #00471b;
}

footer i {
    color: #00471b;
}

.hover ul li:hover i {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: #4267B2;
    /* line-height: 50px; */
    /* text-shadow: 1px 1px 2px #FFA000; */
}

.hover ul li:hover .github i {
    color: black;
}

.hover ul li:hover .linkedin i {
    color: #0e76a8;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: inline;
    /* width: 50px;
    height: 50px; */
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 45px;
    font-size: 30px;
    padding: 0 10px;
}