h4 {
    text-align: center;
}

/* Navbar */
.navbar {
    margin-bottom: 5rem;
}

.navbar-light .navbar-brand .navbar-nav {
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .9);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, .9);
}

/*  Landing Hero */

.hero {
    position: relative;
    width: 100%;
    height: 40vh;
    min-height: 35rem;
    padding: 15rem 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), 
                                url("../images/chuttersnap-eHGCUD180xE-unsplash.jpg"); */
    background: url("../images/chuttersnap-eHGCUD180xE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.hero-title h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.hero-title h2 {
    max-width: 20rem;
    font-size: 1rem;
}

/* @media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .hero {
        height: 100vh;
        padding: 0;
    }

    .hero h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }

    .hero h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
} */

/* main content */
.main {
    margin-top: 3.5rem;
}

/* Recipe */


#hero-recipe {
    width: 100%;
    height: 35vh;
    background-image: url(../images/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
    overflow: hidden
}

.recipe-card-body {
    margin-top: 2.5rem;
    font-size: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4),
        0 10px 20px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}


/* change this class name */
.rgba-stylish-strong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(62, 69, 81, 0.7);
}


.peach-gradient {
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.peach-gradient img {
    height: 20px;
    width: 20px;
}

.recipe a,
.recipe button {
    padding: 15px;
    width: 32%;
    font-size: 1em;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}

.card {
    /*  max-height: 70%; */
    width: auto;
    font-size: 1rem;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
}

.card a {
    color: black;
    text-decoration: none;
}

/* delete if not needed */
.card img {
    margin-bottom: 10px;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.card-body {
    margin: auto;
    font-size: 1rem;
    padding: 1rem;
}

/* Dashboard */

.recipes {
    padding: 0;
    margin: 0;
}

.workouts {

    margin: 0;
}

.recipes img {
    height: 500px;
    width: 100%;
}

.workouts img {
    height: 250px;
    width: 100%;
}

.dashboard-item {
    display: block;
    position: relative;
    overflow: hidden;
}


.dashboard-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, .2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.dashboard-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
}

@media (min-width: 992px) {
    .dashboard-item img {
        transition: -webkit-clip-path .25s ease-out;
        transition: clip-path .25s ease-out;
        transition: clip-path .25s ease-out, -webkit-clip-path .25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
    }
}

/* add recipe */

/* tables */

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}


table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table th:last-child {
    width: 100px;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

table.table td a.add {
    color: #27C46B;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

/* Footer */
footer.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: orange;
    transition: background-color .15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: inline;
    /* width: 50px;
    height: 50px; */
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 45px;
}