{% extends 'layout/base.html' %}
{% block content %}
<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid" id="recipe-view">
    <div class="recipe-view-content d-flex text-center">
        <div class="jumbo-content mx-auto text-center">
            <!-- Content -->
            <h2 class="jumbo-title">Muscle Farm</h2>
            <p class="jumbo-body">Let's start building your muscle!</p>
            <a href="{{ url_for('login') }}" class="btn btngradient" role="button" aria-expanded="false">
                <img src="../static/images/recipe.png" class="img-fluid" alt="menu">
                Go back</a>
        </div>

    </div>
</div>
<!--  End Jumbotron -->

<!-- error image -->
<div class="container">
    <div class="error-image text-center mb-3">
        <img src="/static/images/404.jpg" class="img-fluid" alt="404">
    </div>
</div>
<!-- error image -->

{% endblock %}