{% extends 'base.html' %}

{% block content %}
<!-- Forms -->
<form class="edit-recipe" action="{{ url_for('insert_recipe') }}" method="POST">
    <div class="card recipe-name">
        <div class="col-md-12">
            <div class="form-row">
                <h4>ADD RECIPE</h4>
                <div class="col-md-12 mb-3">
                    <label for="validationDefault01">Recipe name</label>
                    <input name="recipe_name" id="recipe_name" type="text" class="form-control" id="validationDefault01"
                        rows="10" cols="30">
                </div>
                <div class="col-md-12 mb-3">

                    <label for="category_name"">Category</label>
                        <select class=" form-control" value="category_name" name="category_name" id="category_name">
                        <option value="" disabled selected>Choose Categories</option>
                        {% for cat in categories %}
                        <option>{{cat.category_name}}</option>
                        {% endfor %}
                        </select>

                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationDefault03">Add Image URL</label>
                    <!-- <input name="image" id="image" type="text" class="form-control" id="validationDefault03" value=""> -->
                    <input name="image" id="image" type="text" class="form-control" id="validationDefault01" </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Tables -->

    <div class="card">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Ingredients</h2>
                </div>
                <div class="col-sm-4">
                    <button type="button" id="add-newing" class="btn btn-info add-new"><i class="fa fa-plus"></i>
                        Add New Line</button>
                </div>
            </div>
        </div>
        <div class="table-responsive{-sm|-md|-lg|-xl}">
            <table class="table table-bordered table-striped" id="addingredients">
                <thead class="thead-dark">
                    <tr>
                        <th>Unit and Items</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <!-- <input type="text" class="form-control" name=ingredients id="ingredients" /> -->
                                <li>Please list ingredients</li>
                            </ul>
                        </td>
                        <td>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fas fa-minus-circle"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Instructions</h2>
                </div>
                <div class="col-sm-4">
                    <button type="button" id="add-newmethod" class="btn btn-info add-new"><i class="fa fa-plus"></i>
                        Add New Line</button>
                </div>
            </div>
        </div>
        <div class="table-responsive{-sm|-md|-lg|-xl}">
            <table class="table table-bordered table-striped" id="addinstruction">
                <thead class="thead-dark">
                    <tr>
                        <th>Instruction</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>Please list instruction</li>
                            </ul>
                        </td>
                        <td>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="fas fa-minus-circle"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Sign up button -->
    <div class="card">
        <button class="btn  btn-outline-info btn-rounded btn-block" type="submit" name="action">Add
            Recipe</button>
        <a class="btn btn-outline-info btn-rounded btn-block" href="{{ url_for('recipe') }}" role=" button"
            aria-expanded="false">
            Close</a>
    </div>
</form>
{% endblock %}