<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!--  CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

    <title>Breathe</title>
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">Breathe</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link" href="{{ url_for('allrecipe', category='Recipes') }}">Recipes</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link" href="{{ url_for('workouts') }}">Workouts</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link" href="{{ url_for('relax') }}">Relax</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link" href="store.html">Login In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var actions = $("table td:last-child").html();
            $('#addingredients li').each(function (i) {
                $(this).find('input').eq(0).attr("name", i++);
            });

            // Ingredients Add row
            // Append table with add row form on add new button click
            $("#add-newing").click(function () {
                /*  var index = $("table tbody tr:last-child").index(); */
                var col = '<tr>' +
                    '<td>' +
                    /*'<ul>' + '<li><input type="text" class="form-control" name="' + "ingredients" + ($('#addingredients li').length) + '"></li>' + '</ul>' + */
                    '<ul>' + '<li><input type="text" class="form-control" name="ingredients" value=""></li>' + '</ul>' +
                    '</td>' +
                    '<td>' + actions + '</td>' +
                    '</tr>';

                //add ingredients table row form for addrecipe.html
                $("#addingredients").append(col);
                $('[data-toggle="tooltip"]').tooltip();

                //add ingredients table row form for editrecipe.html
                $("#editIngredients").append(col);
                $('[data-toggle="tooltip"]').tooltip();

            });

            $('#addinstruction li').each(function (i) {
                $(this).find('input').eq(0).attr("name", i++);
            });

            // Instructions Add row
            // Append table with add row form on add new button click
            $("#add-newmethod").click(function () {

                var col = '<tr>' +
                    '<td>' +
                    /* '<ul>' + '<li><input type="text" class="form-control" name="' + "value" + ($('#addinstruction li').length) + '"></li>' + '</ul>' + */
                    '<ul>' + '<li><input type="text" class="form-control" name="instructions"></li>' + '</ul>' +
                    '</td>' +
                    '<td>' + actions + '</td>' +
                    '</tr>';

                //add instructions table row form for addrecipe.html 
                $("#addinstruction").append(col);
                $('[data-toggle="tooltip"]').tooltip();

                //add instructions table row form for editrecipe.html
                $("#editInstruction").append(col);
                $('[data-toggle="tooltip"]').tooltip();
            });
            // delete row on add button click
            $(document).on("click", ".delete", function () {
                $(this).parents("tr").remove();
            });




        });
        // Float Back To Top Smooth Scrolling
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        // FLOAT TO TOP

        $('#scroll').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });



    </script>
</body>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
    href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

</html>