{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for recipe in recipes %}
    <h2>{{recipe.category_name}}</h2>
    <h3>{{recipe.recipe_name}}</h3>
    Ingredients:
    <ul>
        {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    Instructions:
    <ol>
        {% for instruction in recipe.instructions %}
        <li>{{ instruction }}</li>
        {% endfor %}
    </ol>
    <img src="{{ recipe.image }}" width="300" height="300" alt="" class="responsive-img">
    {% endfor %}
</div>
<div class="container">
    {% for workout in workouts %}
    <h2>{{workout.category_name}}</h2>
    <h3>{{workout.workout_name}}</h3>
    <p>{{workout.description}}</p>
    <img src="{{ workout.workout_image }}" width="300" height="300" alt="" class="responsive-img">
    {% endfor %}
</div>
{% endblock %}