{% extends 'base.html' %}

{% block content %}
<!-- Hero -->
<header class="hero main">
    <div class="container d-flex h-100 align-items-center">
        <div class="hero-title mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Muscle Farm</h1>
            <h2 class="mx-auto mt-3 mb-2">Healthy
                <img src="../static/images/farmfresh.png" class="d-inline-block" alt="menu"> Recipes</h2>
            <div class="row form-buttons">
                <div class="col-6">
                    <a href="{{ url_for('register') }}"
                        class="btn border-gradient-green border-gradient btn-block">Register</a>
                </div>
                <div class="col-6">
                    <a href="{{ url_for('login') }}" class="btn btngradient btn-block" role="button"
                        aria-expanded="false">Log
                        In</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}