{% extends 'base.html' %}

{% block content %}
<!-- Hero -->
<header class="hero">
    <div class="container d-flex h-100 align-items-center">
        <div class="hero-title mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Muscle Farm</h1>
            <h2 class="mx-auto mt-3 mb-2">Healthy
                <img src="../static/images/farmfresh.png" class="d-inline-block" alt="menu"> Recipes</h2>
            <a class="btn js-scroll-trigger" href="#about">Log In</a>
        </div>
    </div>
</header>
{% endblock %}