{% extends 'base.html' %}

{% block content %}
<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid" id="hero-recipe">
    <div class="text-white text-center rgba-stylish-strong">

        <div class="jumbo-content">

            <!-- Content -->
            <h2 class="jumbo-title">Recipes</h2>
            <p class="jumbo-body">Welcome</p>
            <button class="btn btngradient" role="button" data-toggle="modal" data-target="#addModalRecipe"
                type="button">
                <img src="../static/images/recipe.png" class="img-fluid" alt="menu">
                Add Recipe</button>
        </div>

    </div>
</div>
<!-- Jumbotron -->

<!-- Recipe section -->
<div class="recipe-card-body">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-fluid" src="{{ recipe.image }}" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{recipe.recipe_name}}</h5>
                <h6 class="card-title">{{recipe.category_name}}</h6>
                <p class="card-text">
                    Ingredients:
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                Instructions:
                <ol>
                    {% for instruction in recipe.instructions %}
                    <li>{{ instruction }}</li>
                    {% endfor %}
                </ol>
                </p>
            </div>
        </div>
    </div>

    <div class="recipebuttons">
        <div class="row">
            <a class="btn btn-primary" data-toggle="collapse" href="" role="button" aria-expanded="false">Add To
                Dashboard</a>
            <a class="btn btn-primary" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button"
                aria-expanded="false">Edit</a>
            <a class="btn btn-primary" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" role="button"
                aria-expanded="false">
                Delete Recipe</a>
            <a class="btn btn-outline-info btn-rounded" href="{{ url_for('allrecipe', category='Recipes') }}"
                role=" button" aria-expanded="false">
                Close</a>
        </div>
    </div>
</div>

{% endblock %}