{% extends 'layout/base.html' %}
{% block content %}

<header class="hero main">
    <div class="container d-flex h-100 align-items-center">
        <div class="hero-title mx-auto">
            <!-- Login Form -->


            <div class="register mx-auto">
                <div class="card register-form">
                    <div class="register-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form method="POST" action="{{ url_for('register') }}">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="your@email.com" required autofocus value="{{ request.form.email }}"
                                    autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="username" name="username" id="username" type="text" minlength="1"
                                    maxlength="10" pattern="^[a-zA-Z0-9]{1,10}$" class="form-control"
                                    placeholder="Enter username" required value="{{ request.form.username }}"
                                    autocomplete="off">
                                <small class="form-text text-muted">Max 10 characters</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" minlength="1" maxlength="8"
                                    class="form-control" placeholder="maximum 8 characters" autocomplete="off" required
                                    value="{{ request.form.password }}">

                            </div>
                            <div class="form-group">
                                <label for="repeat_password">Repeat Password</label>
                                <input type="password" name="repeat_password" id="repeat_password" minlength="1"
                                    maxlength="8" class="form-control" placeholder="maximum 8 characters"
                                    autocomplete="off" required value="{{ request.form.repeat_password }}" required>

                            </div>
                            {% for message in get_flashed_messages() %}
                            <p class="text-danger">{{ message }}</p>
                            {% endfor %}
                            <button class="btn btngradient btn-block text-uppercase mb-2" value="register"
                                type="submit">Register</button>
                            <p>Already have an account?
                                <a class="text-primary" href="{{ url_for('login') }}">
                                    Log in</a>
                            </p>
                            <a class="btn btn-recipe border-gradient-green border-gradient float-right"
                                href="{{ url_for('index') }}" role=" button" aria-expanded="false">
                                Close</a>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Login Form -->
        </div>
    </div>
</header>


{% endblock %}